In [28]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [29]:
#import dataset
df = pd.read_csv('dataset/gold.csv', encoding='utf-8')

In [30]:
df

           تاريخ  اخر سعر  سعر الفتح   عالي  منخفض   الحجم التغير %
0     28/10/1999    301.9      296.0  303.5  296.0   5.62K    2.62%
1     27/10/1999    294.2      290.4  295.0  287.6  36.40K    1.31%
2     26/10/1999    290.4      300.5  300.5  289.6  58.44K   -3.36%
3     25/10/1999    300.5      303.0  303.9  299.0  25.24K   -0.92%
4     22/10/1999    303.3      305.6  306.4  302.1  23.90K   -0.72%
...          ...      ...        ...    ...    ...     ...      ...
4995  08/01/1980    617.4      626.9  635.5  620.0   0.01K   -3.89%
4996  07/01/1980    642.4      642.0  644.5  625.0   0.02K    3.70%
4997  04/01/1980    619.5      627.0  627.0  594.0   0.02K    3.35%
4998  03/01/1980    599.4      599.4  599.4  599.4   0.00K    4.35%
4999  02/01/1980    574.4      574.4  574.4  574.4   0.01K    4.55%

[5000 rows x 7 columns]

In [31]:
#EDA

In [32]:
df.columns = ['Date', 'Close', 'Open', 'High', 'Low', 'Volume', 'Changes %']

In [33]:
#steps: head, shape, info, describe, missing values

In [34]:
df

            Date  Close   Open   High    Low  Volume Changes %
0     28/10/1999  301.9  296.0  303.5  296.0   5.62K     2.62%
1     27/10/1999  294.2  290.4  295.0  287.6  36.40K     1.31%
2     26/10/1999  290.4  300.5  300.5  289.6  58.44K    -3.36%
3     25/10/1999  300.5  303.0  303.9  299.0  25.24K    -0.92%
4     22/10/1999  303.3  305.6  306.4  302.1  23.90K    -0.72%
...          ...    ...    ...    ...    ...     ...       ...
4995  08/01/1980  617.4  626.9  635.5  620.0   0.01K    -3.89%
4996  07/01/1980  642.4  642.0  644.5  625.0   0.02K     3.70%
4997  04/01/1980  619.5  627.0  627.0  594.0   0.02K     3.35%
4998  03/01/1980  599.4  599.4  599.4  599.4   0.00K     4.35%
4999  02/01/1980  574.4  574.4  574.4  574.4   0.01K     4.55%

[5000 rows x 7 columns]

In [35]:
df.shape

(5000, 7)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5000 non-null   object
 1   Close      5000 non-null   float64
 2   Open       5000 non-null   float64
 3   High       5000 non-null   float64
 4   Low        5000 non-null   float64
 5   Volume     3611 non-null   object
 6   Changes %  5000 non-null   object
dtypes: float64(4), object(3)
memory usage: 273.6+ KB

In [37]:
df.describe()

             Close         Open         High          Low
count  5000.000000  5000.000000  5000.000000  5000.000000
mean    389.308120   389.470620   390.876400   387.799700
std      76.345183    76.596091    77.348181    75.447509
min     253.700000   254.300000   254.400000   253.000000
25%     343.800000   344.000000   345.100000   343.000000
50%     381.700000   382.000000   382.600000   380.600000
75%     413.425000   413.500000   415.500000   411.925000
max     847.000000   882.000000   882.000000   849.000000

In [38]:
df.isnull().sum()

Date            0
Close           0
Open            0
High            0
Low             0
Volume       1389
Changes %       0
dtype: int64

In [39]:
df['Volume'] = df['Volume'].str.replace('.', '').str.replace('K', '0')

In [40]:
df.head(30)

          Date  Close   Open   High    Low Volume Changes %
0   28/10/1999  301.9  296.0  303.5  296.0   5620     2.62%
1   27/10/1999  294.2  290.4  295.0  287.6  36400     1.31%
2   26/10/1999  290.4  300.5  300.5  289.6  58440    -3.36%
3   25/10/1999  300.5  303.0  303.9  299.0  25240    -0.92%
4   22/10/1999  303.3  305.6  306.4  302.1  23900    -0.72%
5   21/10/1999  305.5  307.3  307.9  302.2  36520    -0.59%
6   20/10/1999  307.3  309.5  312.2  305.8  23920    -0.71%
7   19/10/1999  309.5  311.9  312.6  306.2  33070    -0.71%
8   18/10/1999  311.7  317.2  319.2  311.1  31740    -1.49%
9   15/10/1999  316.4  314.2  318.5  314.2  30980     0.70%
10  14/10/1999  314.2  322.1  324.9  312.3  47340    -2.36%
11  13/10/1999  321.8  318.5  325.3  316.9  34080     1.13%
12  12/10/1999  318.2  320.0  325.3  317.8  29190    -0.66%
13  11/10/1999  320.3  321.5  322.0  317.5  18360    -0.44%
14  08/10/1999  321.7  324.0  326.5  317.5  32460    -0.80%
15  07/10/1999  324.3  326.0  329.8  317.1  31880    -0.52%
16  06/10/1999  326.0  326.0  329.9  315.2  69400     0.00%
17  05/10/1999  326.0  318.5  339.0  318.5  97880     2.52%
18  04/10/1999  318.0  305.6  319.0  305.6  47990     4.16%
19  01/10/1999  305.3  299.1  310.0  297.0  41430     1.94%
20  30/09/1999  299.5  302.0  309.9  295.1  43840    -0.83%
21  29/09/1999  302.0  311.1  322.4  297.1  88800    -2.30%
22  28/09/1999  309.1  309.1  309.1  309.1    NaN     9.26%
23  27/09/1999  282.9  282.9  282.9  282.9    NaN     5.21%
24  24/09/1999  268.9  268.9  268.9  268.9    NaN     0.94%
25  23/09/1999  266.4  266.4  266.4  266.4    NaN     0.57%
26  22/09/1999  264.9  264.9  264.9  264.9    NaN     1.38%
27  21/09/1999  261.3  261.3  261.3  261.3    NaN     2.31%
28  20/09/1999  255.4  255.4  255.4  255.4    NaN    -0.04%
29  17/09/1999  255.5  255.5  255.5  255.5    NaN    -0.54%

In [41]:
df['Volume']=df.Volume.astype(float)

In [56]:
# fill nulls using Imputation
# df['Volume'] = round(df['Volume'].fillna(df['Volume'].mean()))
df['Volume'] = round(df['Volume'].interpolate());

In [59]:
df

            Date  Close   Open   High    Low   Volume Changes %
0     28/10/1999  301.9  296.0  303.5  296.0   5620.0     2.62%
1     27/10/1999  294.2  290.4  295.0  287.6  36400.0     1.31%
2     26/10/1999  290.4  300.5  300.5  289.6  58440.0    -3.36%
3     25/10/1999  300.5  303.0  303.9  299.0  25240.0    -0.92%
4     22/10/1999  303.3  305.6  306.4  302.1  23900.0    -0.72%
...          ...    ...    ...    ...    ...      ...       ...
4995  08/01/1980  617.4  626.9  635.5  620.0     10.0    -3.89%
4996  07/01/1980  642.4  642.0  644.5  625.0     20.0     3.70%
4997  04/01/1980  619.5  627.0  627.0  594.0     20.0     3.35%
4998  03/01/1980  599.4  599.4  599.4  599.4      0.0     4.35%
4999  02/01/1980  574.4  574.4  574.4  574.4     10.0     4.55%

[5000 rows x 7 columns]

In [60]:
df.isnull().sum()

Date         0
Close        0
Open         0
High         0
Low          0
Volume       0
Changes %    0
dtype: int64

In [44]:
#Display charts

In [45]:
#splitting

In [46]:
#train-test split 
from sklearn.model_selection import train_test_split

In [47]:
#cross-validation split
from sklearn.model_selection import cross_validate

In [48]:
# models

In [49]:
#metrics

In [50]:
#chart